h1{
    font-size: 60px;
    padding-top: 40px;
    vertical-align: middle;
}

h2{
    font-size: 40px;
    padding-top: 40px;
    vertical-align: middle;
}

h3{
    font-size: 25px;
    vertical-align:bottom;
}