<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <mat-progress-spinner
          *ngIf="isLoading | async"
          mode="indeterminate"
          color="warn"
          style="position: absolute; top: 0; z-index: 5000;"
        >
      </mat-progress-spinner> -->
      <!-- <mat-progress-bar mode="intermediate"></mat-progress-bar> -->
      <router-outlet>
        <mat-progress-spinner
          *ngIf="isLoading | async"
          mode="indeterminate"
          color="warn"
          style="position: absolute; top: 0; z-index: 5000;"
        >
        </mat-progress-spinner>
      </router-outlet>
    </div>
  </div>
</div>